<div class="col">
  <section [hidden]="!allClasses.length" class="mb-3 display-section row justify-content-center">
    <form #displayForm="ngForm" (change)="changeClassVisibility($event.target.value)">
      <div *ngFor="let filterType of filterTypes;" class="col-6 col-md-auto d-inline-flex mt-3">
        <div class="form-check form-check-inline">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input class="form-check-input" type="radio" name="classDisplay" id="{{filterType}}_radio" value="{{filterType}}" [checked]="checkView(filterType)">
              </div>
            </div>
            <div class="input-group-append">
              <label class="form-check-label btn" [class]="getFilterButtonColor(filterType)" for="{{filterType}}_radio">
                {{filterType.charAt(0).toUpperCase() + filterType.slice(1)}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
  <section class="row class-container">
    <div [hidden]="classes.length" class="col-12">
      <h3 class="p-1">You have no classes scheduled</h3>
    </div>
    <div class="col">
      <div class="card-deck">
        <div *ngFor="let classData of classes" class="col-lg-3 col-md-4 col-sm-6 col-12 class-item" (click)="openClass(classData.classId)">
          <div  class="card mb-3 ">
            <div class="card-header text-white" [ngClass]="getHeaderColor(classData)">
              <span class="class-title "><i class="{{classData.classIcon}} class-icon"></i> {{classData.classTitle}}</span>
            </div>
            <div class="card-body row">
              <div class="col">
                <ul class="class-data ">
                  <li class=" row">
                    <label class="col-7">Students</label>
                    <span class="student-count col-5 text-center">{{classData.students}}</span>
                  </li >
                  <li class="row">
                    <label class="col-7">Progress</label>
                    <span class="class-progress col-5 text-center">{{classData.classProgress}}%</span>
                  </li>
                  <li class="row text-white" [ngClass]="getGradeColoration(classData.classAverage)">
                    <label class="col-7">Average</label>
                    <span class="class-average col-5 text-center">{{classData.classAverage}}%</span>
                  </li>
                </ul>
              </div>
              <div class="w-100"></div>
              <div class="col">
                {{getDateDisplay(classData.startDate, classData.endDate)}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <section class="row">
    <div class="col text-center text-md-left" style="margin-bottom:10px;">
      <button class="btn btn-primary" routerLink="/newClass"><i class="fa fa-plus"> </i> Create Class</button>
    </div>
  </section>
</div>
