<div>
  <section class="assignment-list">
    <div class="no-assignments" *ngIf="assignmentData.length===0">Use the button below to add an assignment</div>
    <div *ngIf="assignmentData.length>0" class="col assignment-item-container">
      <div class="row">
        <div class="col-6 col-md-9 text-center text-md-right" style="border-right:1px solid #ccc;"># of Questions</div>
        <div class="col-6 col-md-3 text-center cursor-pointer" (click)="autoAssignWeight()" style="cursor:pointer;">
          <span>Weight
            <span class="font-weight-bold weight-display"
            [class.text-success]="totalWeight === 100"
            [class.text-danger]="totalWeight > 100 || totalWeight < 90"
            [class.text-warning]="totalWeight < 100 && totalWeight >= 90"> ({{totalWeight}}%)</span>
          </span>
        </div>
      </div>
      <form *ngFor="let assignment of assignmentData; index as indx;" class="assignment-item row">
        <div class="col-12 col-md-6 pb-2 pb-md-0">
          <input class="form-control" type="text" id="assignment_item_label_{{indx}}" aria-label="Assignment Label" placeholder="Assignment Name" [(ngModel)]="assignment.label" required name="label" #assignmentItemLabel="ngModel" maxlength="26">
          <div [hidden]="assignmentItemLabel.valid || assignmentItemLabel.pristine" class="name-warning alert alert-danger">Assignment name is required</div>
        </div>
        <div class="col-6 col-md-3" style="border-right:1px solid #ccc;">
          <input class="form-control" type="number" id="assignment_item_question_{{indx}}" aria-label="Assignment Question Count" placeholder="#" [(ngModel)]="assignment.questions" name="questions" #assignmentItemQuestions="ngModel" >
        </div>
        <div class="col-6 col-md-3">
          <input class="form-control" type="number" id="assignment_item_weight_{{indx}}" aria-label="Assignment Item Weight" placeholder="Weight %" [(ngModel)]="assignment.weight" required name="weight" #assignmentItemWeight="ngModel" min="1" max="100" (keyup)="autoAssignWeight(assignment)">
          <div [hidden]="(assignmentItemWeight.value > 0 && assignmentItemWeight.value < 101)" class="weight-warning alert alert-danger">Weight is required and must be between 1 and 100</div>
        </div>
        <span class="close-icon btn btn-danger" (click)="removeAssignmentItem(assignment)"><i class="far fa-trash-alt"></i></span>
      </form>
    </div>
  </section>
  <section class="col text-center mb-3">
    <button type="button" name="createAssignmentItemButton" class="btn btn-secondary" (click)="addAssignmentItem()">
      <i class="far fa-plus-square"></i> Add Item
    </button>
  </section>
</div>
