<div class="col">
  <div class="row justify-content-center">
    <div class="col col-lg-10 col-xl-8">
      <div class="row">
        <section class="d-none d-md-block col-4 col-lg-3 text-right border-right">
          <div class="row">
            <div class="col pt-2">
              <h3>Admin Tools</h3>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" [ngClass]="activeNavigation === 'account'? 'active': ''" href="#" (click)="navigateToPage($event, 'admin/updateAccount')">Update Account</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [ngClass]="activeNavigation === 'password'? 'active': ''" href="#" (click)="navigateToPage($event, 'admin/updatePassword')">Update Password</a>
                </li>
                <div *ngIf="isAdmin || isSiteAdmin">
                  <div class="dropdown-divider"></div>
                  <li class="nav-item">
                    <a class="nav-link" [ngClass]="activeNavigation === 'users'? 'active': ''" href="#" (click)="navigateToPage($event, 'admin/groupUsers')">View Users</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [ngClass]="activeNavigation === 'students'? 'active': ''" href="#" (click)="navigateToPage($event, 'admin/groupStudents')">View Students</a>
                  </li>
                </div>
                <div *ngIf="isSiteAdmin">
                  <div class="dropdown-divider"></div>
                  <li *ngIf="isSiteAdmin" class="nav-item">
                    <a class="nav-link " [ngClass]="activeNavigation === 'license'? 'active': ''" href="#" (click)="navigateToPage($event, 'admin/licenseAdmin')">License Admin</a>
                  </li>
                </div>
              </ul>
            </div>
          </div>
        </section>
        <section class="col mb-2">
          <router-outlet class="w-100 p-1"></router-outlet>
        </section>
      </div>
  </div>
</div>
