<div class="col mt-2">
  <div *ngIf="groupStudents.length > 0">
    <section class="table-responsive ">
      <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col-auto"><div class="text-center">#</div></th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col-auto"><div class="text-center">Active</div></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let groupStudent of groupStudents; index as indx">
            <th scope="row" class="text-center">{{indx + 1}}</th>
            <td>{{groupStudent.name}}</td>
            <td>{{groupStudent.email}}</td>
            <td class="text-center">
              <span *ngIf="groupStudent.active" class="fas fa-check text-success" style="cursor:pointer;" (click)="toggleActive(groupStudent)" title="Click to de-activate student"></span>
              <span *ngIf="!groupStudent.active"  class="fas fa-times text-danger" style="cursor:pointer;" (click)="toggleActive(groupStudent)" title="Click to activate student"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
  <div *ngIf="groupStudents.length < 1">
    <div class="jumbotron">
      <h1>Group doesn't have any students</h1>
    </div>
  </div>
  <create-student></create-student>
</div>
