$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "fontawesome";
@import "solid";
@import "regular";
@import "./themes/minty/bootstrap.scss";
$header-bg: #171B20;

html,
body{
  margin: 0;
  padding: 0;
  height: 100%;
}

.input-group-btn button.btn {
  padding-top: 11px;
  padding-bottom: 11px;
}

body.gradeian {
  overflow:hidden;
  height:100%;
  border-collapse: collapse;
  font-family: "Source Code Pro", monospace;

  .header{
    border-bottom: 1px solid #333;
  }

  .body {
    height:100%;
    display:grid;
    grid-template-rows: max-content auto;
  }

  .fa {
    font: FontAwesome;
  }

  .title-pane {
    border: 1px solid #000;
    position: relative;
    margin-top: 15px;
    padding-top: 10px;

    &-title {
      background: #FFF;
      position: absolute;
      padding: 0 3px;
      left: 5px;
      top: -10px;
      height: 20px;
      font-size: 18px;
      line-height: 18px;
      vertical-align: middle;
    }
  }
}

meter {
  width: 100%;
  height: 12px;
  margin-top: 6px;
  margin-left: 10px;
  /* Applicable only to Firefox */
  background: none;
  background-color: rgba(0, 0, 0, 0.1);

  &::-webkit-meter-bar {
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
  }

  &.password-meter {
    /* Webkit based browsers */
    &[value="1"]::-webkit-meter-optimum-value {
      background: red;
    }

    &[value="2"]::-webkit-meter-optimum-value {
      background: orange;
    }

    &[value="3"]::-webkit-meter-optimum-value {
      background: yellow;
    }

    &[value="4"]::-webkit-meter-optimum-value {
      background: green;
    }
    /* Gecko based browsers */
    &[value="1"]::-moz-meter-bar {
      background: red;
    }

    &[value="2"]::-moz-meter-bar {
      background: orange;
    }

    &[value="3"]::-moz-meter-bar {
      background: yellow;
    }

    &[value="4"]::-moz-meter-bar {
      background: green;
    }
  }
}

.loader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;

  & > * {
    max-width:500px;
  }
}

.btn:disabled{
  cursor:not-allowed;
}

.assignment-item{
  font-size:14px;
  position:relative;
  border-left:3px solid $secondary;

  &:hover{
    border-left-color:$primary;
  }
}
