<div class="col mb-2 mt-2">
  <div *ngIf="updateState !== 'lockout'" class="card">
    <div class="card-header">
      <h3 class="card-title text-center">Update Password</h3>
    </div>
    <form *ngIf="!!user" class="form-horizontal card-body" #updatePasswordForm="ngForm">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label class="control-label" for="password">Old Password:</label>
            <input class="form-control" type="password" id="password" placeholder="Original/Existing Password" [(ngModel)]="user.password"
            name="password" required #password="ngModel" maxlength="20">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label class=" control-label" for="newPassword">New Password:</label>
            <input class="form-control" type="password" id="newPassword" placeholder="New Password" (keyup)="checkPasswordStrength(user.newPassword)"
             [(ngModel)]="user.newPassword"
             pattern="(?=^.{8,20}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&amp;*()_+}{&quot;:;'?/&gt;.&lt;,])(?!.*\s).*$"  name="newPassword" required #newPassword="ngModel" maxlength="20">
             <div [hidden]="user.newPassword !== ''" class="alert alert-info">8 to 20 characters; include Upper, Lower, Numeric, and Special characters.</div>
             <div class="row password-strength" [hidden]="user.newPassword == ''">
               <span>Strength</span>
               <div class="col-6">
                 <meter min="0" max="4" [value]="passwordStrength" class="password-meter"></meter>
               </div>
             </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label class=" control-label" for="confirmPW">Confirm New Password:</label>
            <input class="form-control" type="password" id="confirmPW" placeholder="Confirm New Password" [(ngModel)]="confirmPassword" name="confirmPW" pattern="{{user.newPassword}}" required maxlength="20">
          </div>
        </div>
      </div>
      <section *ngIf="!!updateState" class="row">
        <div class="col">
          <div *ngIf="updateState === 'success'" class="row">
            <div class="col alert alert-success">Your password has been successfully updated.</div>
          </div>
          <div *ngIf="updateState === 'failure'" class="row">
            <div class="col alert alert-danger">There was a problem updating your password. Please verify your old password before trying again. If you fail too many times, your account will be locked.</div>
          </div>
        </div>
      </section>
      <div class="row justify-content-center">
        <div class="col-auto">
          <button type="submit" class="btn btn-success" [disabled]="!updatePasswordForm.form.valid || this.updateState === 'lockout'" (click)="updateUserPassword()"><i class="fas fa-user-lock"></i> Update Password</button>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="updateState === 'lockout'" class="alert alert-danger shadow">
    <div class="row">
      <div class="col ">
        <div class="row justify-content-center">
          <div class="col-auto" style="font-size:72px;">
            <i class="fas fa-exclamation-triangle"></i>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
              <h1> Your account has been locked! logging you out.</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
