<form class="form-horizontal col-12" #loginForm="ngForm" (ngSubmit)="login()">
  <div class="form-group row">
    <label class="col-form-label col-12 col-sm-3 text-sm-right" for="userName">User Name:</label>
    <div class=" col-12 col-sm-9">
      <input class="form-control" type="text" id="userName" [(ngModel)]="credentials.userName" required name="userName" maxlength="30">
    </div>
  </div>
  <br/>
  <div class="form-group row">
    <label class="col-form-label col-12 col-sm-3 text-sm-right" for="password">Password:</label>
    <div class=" col-12 col-sm-9">
      <input class="form-control" type="password" id="password" [(ngModel)]="credentials.password" required name="password" (keyup.enter)="login()">
    </div>
  </div>
  <div class="col">
    <div class="alert alert-danger" [hidden]="response!='failed' ">Login Failed, either User Name or Password was incorrect!</div>
    <div class="alert alert-danger" [hidden]="response!='locked' ">This account has been locked out due to too many failed login attempts, please wait and try again later!</div>
  </div>
  <div class="row">
    <div class="col text-right">
      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid" (click)="login()"><i class="fas fa-sign-in-alt"></i> Login</button>
    </div>
    <div class="col">
      <button class="btn btn-success" (click)="register()"><i class="fa fa-user-plus"></i> Create Account</button>
    </div>
    <!-- <button class="btn btn-primary" routerLink="/register/{{credentials.userName}}"><i class="fa fa-plus"></i> Register</button> -->
  </div>
</form>
