<div class="col text-center">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createStudentModal">
    <i class="fa fa-edit"></i> Create Students
  </button>
</div>

<div class="modal fade" id="createStudentModal" tabindex="-1" role="dialog" aria-labelledby="createStudentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createStudentModalLabel">Create Students</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <div [hidden]="!students.length">
          <ul class="student-container list-group">
            <li class="list-group-item active">
              <div class="row">
                <span class="col-4">Name</span>
                <span class="col-7">Email</span>
              </div>
            </li>
            <li *ngFor="let student of students" class="student list-group-item">
              <div class="row">
                <span class="col-4">{{student.name}}</span>
                <span class="col-6 col-md-7" style="overflow:hidden; text-overflow: ellipsis;">{{student.email}}</span>
                <span class="col-2 col-md-1 text-center"><i class="fa fa-times text-danger" (click)="removeStudent(student.name);"></i></span>
              </div>
            </li>
          </ul>
          <hr />
        </div>
        <div [hidden]="!!students.length" class="row">
          <span class="col">Add a Student</span>
        </div>
        <form class="form-horizontal" #createStudentForm="ngForm">
          <div class="col">
            <div class="form-group row">
              <div class="input-group">
                <input class="form-control" type="text" id="studentName" aria-label="Student Name" placeholder="Student Name" [(ngModel)]="studentData.name" required name="name" #studentName="ngModel" maxlength="100">
                <input class="form-control" type="email" id="studentEmail" aria-label="Student Email" placeholder="Student Email" [(ngModel)]="studentData.email" required name="email" #studentEmail="ngModel" maxlength="100" email
                  (keyup)="checkStudentEmail()">
                <span class="input-group-append">
                  <button type="submit" class="btn btn-primary" id="addStudentButton" aria-label="Add to list" (click)="addStudent(); createStudentForm.reset();" [disabled]="createStudentForm.invalid || invalidEmail"><i
                      class="fa fa-plus"></i></button>
                </span>
              </div>
              <div [hidden]="studentName.valid || studentName.pristine" class="alert alert-danger">Student name is required</div>
              <div [hidden]="studentEmail.valid || studentEmail.pristine" class="alert alert-danger">Student email is required</div>
              <div [hidden]="!invalidEmail" class="alert alert-danger">Email is already in use</div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="createStudentButton" data-dismiss="modal" [disabled]="!students.length" (click)="createStudents(); createStudentForm.reset();"><i class="fa fa-save"></i> Save and Close</button>
      </div>
    </div>
  </div>
</div>
